.header {
  padding: 0.6rem;
  background: linear-gradient(to left top, coral, purple);
}

.headernav-div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.header-logo {
  background: red;
  width: 3rem;
  color: aliceblue;
  align-self: center;
  text-align: center;
  padding: 5px;
  font-size: 16pt;
}

.header-search-form {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
}

.headernav-input-search {
  padding: 5px;
  font-size: x-large;
  margin-right: 0.5rem;
  flex-grow: 1;
  border-radius: 5px;
  border-color: lightgray;
}

.headernav-button-search {
  padding: 5px;
  font-size: larger;
  margin-right: 0.5rem;
}

.hacker-nav-filter-div {
  display: flex;
  padding: 1.5rem 1rem 0.5rem 1rem;
  color: aliceblue;
  /* text-align: right; */
  justify-content: space-between;
  align-items: flex-end;
}

.hacker-nav-filter {
  display: flex;
  align-items: center;
}

.hacker-nav-filter-select {
  margin: 0 1rem;
  color: black;
  min-width: 10rem;
}

.loading-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 300px);
}

.news-div {
  padding: 0.3rem 0;
  border-bottom: 1px dotted gray;
}

.news-div-link-div {
  display: flex;
}

.news-div-link {
  cursor: pointer;
  border: none;
  background: inherit;
  margin-right: 1rem;
}

.news-div-link-origin {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

.news-div-title {
}

.highlightQueryWords {
  background: lightcyan;
}

.news-div-comment {
  font-size: smaller;
  color: darkslategray;
}

.news-div-infos {
  display: flex;
  gap: 0.5rem;
  font-size: 9pt;
  color: cornflowerblue;
}

.news-div-infos-comments {
  cursor: pointer;
}

.news-div-infos-comments:hover {
  color: blue;
}

.news-div-story {
  padding-top: 1rem;
}

.pagination-div {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-style: italic;
  font-size: 10pt;
  color: gray;
}

.arrow-turn {
  transform: rotate(135deg);
}

.div-fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.error {
  font-size: xx-large;
  color: red;
  padding: 2rem;
  height: calc(100vh - 300px);
}

.noresult {
  font-size: xx-large;
  color: orange;
  padding: 2rem;
  height: calc(100vh - 300px);
}
