:root {
  --font-playfair: 'Playfair Display', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: lightgoldenrodyellow;

  font-family: var(--font-raleway);

  padding: 1rem 2vw;
  margin: 0 auto;
  max-width: 70rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arrow-turn {
  transform: rotate(135deg);
  margin-right: 0.5rem;
}

.div-fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.error {
  font-size: xx-large;
  color: red;
  padding: 2rem;
  height: calc(100vh - 300px);
}

.noresult {
  font-size: xx-large;
  color: orange;
  padding: 2rem;
  height: calc(100vh - 300px);
}

.cursor {
  cursor: pointer;
}
